<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.busi.mapper.TCacheMapper">
  <resultMap id="BaseResultMap" type="cn.com.busi.entity.TCache">
    <!--@mbg.generated-->
    <!--@Table t_Cache-->
    <id column="Id" jdbcType="VARCHAR" property="id" />
    <result column="Result" jdbcType="VARCHAR" property="result" />
    
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    Id, `result`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_Cache
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from t_Cache
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.busi.entity.TCache">
    <!--@mbg.generated-->
    insert into t_Cache (Id, `result`
      )
    values (#{id,jdbcType=VARCHAR}, #{result,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.busi.entity.TCache">
    <!--@mbg.generated-->
    insert into t_Cache
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="result != null">
        `Result`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        #{result,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.busi.entity.TCache">
    <!--@mbg.generated-->
    update t_Cache
    <set>
        `Result` = #{result,jdbcType=VARCHAR}
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.busi.entity.TCache">
    <!--@mbg.generated-->
    update t_Cache
    set `Result` = #{result,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
<!--auto generated by MybatisCodeHelper on 2021-03-09-->
  <select id="findByAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from t_Cache
  </select>
</mapper>